<a href="https://colab.research.google.com/github/remijul/tutorial/blob/master/Dev_IA_Challenge_SQL_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge SQL

**Bienvenue dans le challenge SQL !** Il s'agit d'évaluer les compétences acquises pour formuler des requêtes SQL et extraire des informations pertinentes.

Vous avez une série de X questions et vous devez proposer à chaque fois une instruction SQL.

La base de données **MySQL** est disponible ici [w3 schools](https://www.w3schools.com/mysql/trymysql.asp?filename=trysql_editor) :
- la base comporte 8 tables,
- le site vous propose un éditeur MySQL intégré.  

  
  
**Consignes :**
- Faites une copie de ce notebook et modifiez-le librement.
- Formulez les requêtes dans l'éditeur MySQL de W3 Schools et collez votre instruction ici dans le notebook.
- En fin de challenge, partagez votre travail sur Simplonline (veuillez vous assurer que les accès à votre document sont autorisés à des tiers).

#1.Compréhension de la base de données et des tables

## Question 1
Compléter ce tableau concernant les clés primaires et étrangères des tables de la base de données.

| Table        | Clé primaire  | Clé(s) étrangère(s) |
| ------------ | ------------- | ------------- |
| Customers    | CustomerID    | None         |
| Categories   | ...    | ...         |
| Employees    | ...    | ...         |
| OrderDetails | OrderDetailID | OrderID, ProductID |
| Orders       | ...       | ... |
| Products     | ...     | ... |
| Shippers     | ...     | ...         |
| Suppliers    | ...    | ...         |

| Table        | Clé primaire  | Clé(s) étrangère(s) |
| ------------ | ------------- | ------------- |
| Customers    | CustomerID    | None         |
| Categories   | CategoryID    | None         |
| Employees    | EmployeeID    | None         |
| OrderDetails | OrderDetailID | OrderID, ProductID |
| Orders       | OrderID       | CustomerID, EmployeeID, ShipperID |
| Products     | ProductID     | SupplierID, CategoryID |
| Shippers     | ShipperID     | None         |
| Suppliers    | SupplierID    | None         |

#2.Requêtes simples

## Question 2
Sélectionner les colonnes `ProductName` et `Price` de la table `Products`.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT ProductName, Price
FROM Products

## Question 3
Quels sont les différents pays représentés dans la table `Suppliers` ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT distinct Country
FROM Suppliers

## Question 4
Sélectionner les fournisseurs dont le pays est la France.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Suppliers
WHERE Country = 'France'
# WHERE Country IN ('France')

## Question 5
Sélectionner les produits dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Products
WHERE PRICE >= 20

## Question 6
Sélectionner les fournisseurs dont le pays n’est pas la France.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Suppliers
WHERE Country != 'France'
#WHERE Country NOT IN ('France')

## Question 7
Sélectionner les employés dont le prénom est Janet ou Michael.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Employees
WHERE FirstName = 'Janet' OR FirstName = 'Michael'
#WHERE FirstName in ('Janet', 'Michael')

## Question 8
Sélectionner la table des produits ordonnée par prix croissant.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Products
ORDER BY Price

## Question 9
Sélectionner les 3 produits les moins chers.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Products
ORDER BY Price
LIMIT 3

#3.Requêtes avec agrégation

## Question 10
Calculer le nombre de fournisseurs par pays.  
Ordonner la table par nombre de fournisseurs décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT Country, COUNT(SupplierID) AS Nb_fournisseur
FROM Suppliers
GROUP BY Country
ORDER BY nb_fournisseur DESC

## Question 11
Donner le prix moyen des produits en fonction de leur CategorieID.  
Ordonner la table prix moyen décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT CategoryID, round(AVG(Price), 2) AS Prix_moyen
FROM Products
GROUP BY CategoryID
ORDER BY Prix_moyen DESC

## Question 12
Calculer le nombre de clients par pays.  
Ordonner la table par nombre de clients décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT Country, COUNT(CustomerID) AS Nb_client
FROM Customers
GROUP BY Country
ORDER BY Nb_client DESC

## Question 13
Quels sont les pays qui disposent d'au moins 3 fournisseurs différents ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT Country, COUNT(SupplierID) AS Nb_fournisseur
FROM Suppliers
GROUP BY Country
HAVING Nb_fournisseur >= 3
ORDER BY nb_fournisseur DESC

## Question 14
Quels sont les `ProductID` dont la quantité vendue dépasse ou égale les 1000 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT ProductID, SUM(Quantity) as Qte_totale
FROM OrderDetails
GROUP BY ProductID
HAVING Qte_totale >= 1000
ORDER BY Qte_totale DESC

#4.Gestion des chaînes de caractères

## Question 15
Reconstituer l'adresse postale des fournisseurs.  
Pour chaque nom de fournisseur restituer l'adresse postale au format donné dans l'example suivant :

| SupplierName        | Adresse_postale  |
| ------------------- | ------------- |
| Exotic Liquid       | 49 Gilbert St. - EC1 4SD - Londona - UK    |

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT SupplierName, CONCAT(Address, " - ", PostalCode, " - ", City, " - ", Country) AS Adresse_postale
FROM Suppliers

## Question 16
Extraire les clients dont le champ `CustomerName` commence par `An`.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Customers
WHERE CustomerName LIKE 'An%'

## Question 17
Extraire les produits dont l'unité de conditionnement est exprimée en `box` ou en `boxes`.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT *
FROM Products
WHERE Unit LIKE '%box%'

#5.Gestion des dates

## Question 18
Extraire les années de naissance des employés.  
Pour chaque nom et prénom des employés restituer l'année de naissance, au format donné dans l'example suivant :

| LastName     | FirstName  | Annee_naissance  |
| -------------| -----------| -----------------|
| Fuller       | Andrew     | 1952             |

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT LastName, FirstName, YEAR(BirthDate) AS Annee_naissance
FROM Employees
ORDER BY Annee_naissance

## Question 19
Restituer une table qui délivre les volumes de commandes par année.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT YEAR(OrderDate) As Annee_commande, COUNT(OrderID) AS Volume_commande
FROM Orders
GROUP BY Annee_commande
ORDER BY Annee_commande

## Question 20
Restituer une table qui délivre les 3 mois pour lesquels les volumes de commandes sont les plus importants.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT MONTH(OrderDate) As Mois_commande, COUNT(OrderID) AS Volume_commande
FROM Orders
GROUP BY Mois_commande
ORDER BY Volume_commande
LIMIT 3

#6.Jointures

## Question 21
Sélectionner les produits et leur catégorie (`CategoryName`) dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT prod.ProductName, cat.CategoryName, prod.Price
FROM Products AS prod
LEFT JOIN Categories AS cat ON prod.CategoryID = cat.CategoryID
WHERE prod.PRICE >= 20
ORDER BY prod.Price DESC

## Question 22
Quel est le prix moyen par catégorie (`CategoryName`) de produit ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT cat.CategoryName, round(AVG(prod.Price), 2) AS Prix_moyen
FROM Products AS prod
LEFT JOIN Categories AS cat ON prod.CategoryID = cat.CategoryID
GROUP BY cat.CategoryName
ORDER BY Prix_moyen DESC

## Question 23
Quels sont les produits (`ProductName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT ord.ProductID, prod.ProductName, SUM(ord.Quantity) as Qte_totale
FROM OrderDetails as ord
LEFT JOIN Products AS prod ON ord.ProductID = prod.ProductID
GROUP BY ord.ProductID
HAVING Qte_totale BETWEEN 1200 AND 1600
ORDER BY Qte_totale DESC

## Question 24
Quels sont les produits (`ProductName`) et leur catégorie (`CategoryName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT prod.ProductName, cat.CategoryName, SUM(ord.Quantity) as Qte_totale
FROM OrderDetails as ord
LEFT JOIN Products AS prod ON ord.ProductID = prod.ProductID
LEFT JOIN Categories as cat ON prod.CategoryID = cat.CategoryID
GROUP BY ord.ProductID
HAVING Qte_totale BETWEEN 1200 AND 1600
ORDER BY Qte_totale DESC

## Question 25
Quelles sont les quantités vendues réparties par employé et par catégorie de produits ?  

La table doit avoir une structure comme dans l'example suivant :  

| CategoryName     | Employee  | Qte_totale  |
| -------------| -----------| -----------------|
| Beverages       | Davolio Nancy     | 1607             |

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT cat.CategoryName, concat(emp.LastName, " ", emp.FirstName) as Employee, SUM(det.Quantity) as Qte_totale
FROM OrderDetails as det
LEFT JOIN Products AS prod ON det.ProductID = prod.ProductID
LEFT JOIN Categories AS cat ON prod.CategoryID = cat.CategoryID
LEFT JOIN Orders AS ord ON det.OrderID = ord.OrderID
LEFT JOIN Employees AS emp ON ord.EmployeeID = emp.EmployeeID
GROUP BY cat.CategoryName, emp.EmployeeID
ORDER BY CategoryName, Qte_totale DESC

In [ ]:
# !!!!!!!!!!!! SUR D'AUTRES SGBDR, LES CHAMPS APPELES DANS LA CLAUSE GROUP BY DOIVENT FIGURER DANS LA CLAUSE SELECT !!!!!!!!!!!

%%sql
-------------------------------------------------------------------

SELECT CategoryName, Employee, Qte_totale
FROM (
  SELECT cat.CategoryName, emp.EmployeeID, concat(emp.LastName, " ", emp.FirstName) as Employee, SUM(det.Quantity) as Qte_totale
  FROM OrderDetails as det
  LEFT JOIN Products AS prod ON det.ProductID = prod.ProductID
  LEFT JOIN Categories AS cat ON prod.CategoryID = cat.CategoryID
  LEFT JOIN Orders AS ord ON det.OrderID = ord.OrderID
  LEFT JOIN Employees AS emp ON ord.EmployeeID = emp.EmployeeID
  GROUP BY cat.CategoryName, emp.EmployeeID
  ORDER BY CategoryName, Qte_totale DESC
)

#7.Requêtes avancées
Dans cette section vous serez amené à utiliser les requêtes imbriquées.

## Question 26
Quel est le client (`CustomerName`et `ContactName`) qui a établi la dernière commande ?  
*Note : La valeur de `OrderID` vous donne l'ordre chronologique des commandes.*

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT CustomerName, ContactName
FROM Customers
WHERE CustomerID = (
    SELECT CustomerID
    FROM Orders
    ORDER BY OrderID DESC
    LIMIT 1
  )

## Question 27
Quels sont le client (`CustomerName`et `ContactName`) et l'employé concernés (`FirstName`et `LastName`) par la dernière commande ?  
La table doit avoir une structure comme dans l'example suivant :  

| OrderID	| OrderDate	| CustomerName | 	ContactName	| FirstName	| LastName|
| --| --| --| --| --| --|
| 11077	| 1998-05-06	| Rattlesnake Canyon Grocery	| Paula Wilson	| Nancy	| Davolio|

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT  data.OrderID, cust.CustomerName, cust.ContactName, emp.FirstName, emp.LastName
FROM (
    SELECT *
    FROM Orders
    ORDER BY OrderID DESC
    LIMIT 1
  ) AS data
LEFT JOIN Customers AS cust ON data.CustomerID = cust.CustomerID
LEFT JOIN Employees AS emp ON data.EmployeeID = emp.EmployeeID

## Question 28
Calculer le nombre de commandes livrées par livreur (`ShipperName`) ainsi le pourcentage du total de commandes.  
Ordonner la table par ordre decroissant du nombre de commandes.  
La table doit avoir une structure comme dans l'example suivant :  

| ShipperName	| Nb_commandes	| Part_commandes |
| --| --| --|
| United Package	| 326	| 39.3 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT ShipperName, COUNT(OrderID) AS Nb_commandes, CONCAT(ROUND(100 * COUNT(OrderID) / (SELECT COUNT(OrderID) FROM Orders), 1), " %") AS Part_commandes
FROM (
  SELECT ord.OrderID, ord.ShipperID, ship.ShipperName
  FROM Orders as ord
  LEFT JOIN Shippers AS ship ON ord.ShipperID = ship.ShipperID
) AS data
GROUP BY ShipperName
ORDER BY Nb_commandes DESC;

## Question 29
Calculer la quantité d'articles par fournisseur (`SupplierName`) ainsi le pourcentage du total.  
Ordonner la table par ordre decroissant du nombre d'articles.  
La table doit avoir une structure comme dans l'example suivant :  

| SupplierName	| Nb_commandes	| Part_commandes |
| --| --| --|
| Plutzer Lebensmittelgroßmärkte AG	| 179	| 8.3 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT SupplierName, SUM(Quantity) AS Nb_commandes, CONCAT(ROUND(100 * SUM(Quantity) / (SELECT SUM(Quantity) FROM OrderDetails), 1), " %") AS Part_commandes
FROM (
  SELECT det.OrderDetailID, det.OrderID, det.ProductID, det.Quantity, prod.SupplierID, sup.SupplierName
  FROM OrderDetails as det
  LEFT JOIN Products AS prod ON det.ProductID = prod.ProductID
  LEFT JOIN Suppliers AS sup ON prod.SupplierID = sup.SupplierID
) AS data
GROUP BY SupplierName
ORDER BY Nb_commandes DESC;

## Question 30
A partir de la table `OrderDetails`, créer une colonne `QuantityText` qui prendra les valeurs suivantes :
- `"The quantity is under 30"` si `Quantity` < 30
- `"The quantity is 30"` si `Quantity` = 30
- `"The quantity is greater than 30"` si `Quantity` > 30

Ensuite comptabilliser le nombre de fois où les 3 catégories apparraisent et ordonner la table par ordre decroissant de ce comptage.  
La table doit avoir une structure comme dans l'example suivant :  

| QuantityText	| Nb_commandes	|
| --| --|
| The quantity is under 30	| 1464	|

In [ ]:
%%sql
-------------------------------------------------------------------

SELECT QuantityText, COUNT(OrderID) AS Nb_commandes
FROM (
SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails
) as data
GROUP BY QuantityText
ORDER BY Nb_commandes DESC;

#8.Fin du challenge
Bravo ! Vous êtes arrivés sans peine jusqu'à la fin de ce challenge SQL ✌ !