<a href="https://colab.research.google.com/github/remijul/tutorial/blob/master/Dev_IA_Challenge_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge SQL

**Bienvenue dans le challenge SQL !** Il s'agit d'évaluer les compétences acquises pour formuler des requêtes SQL et extraire des informations pertinentes.

Vous avez une série de 30 questions et vous devez proposer à chaque fois une instruction SQL.

La base de données **MySQL** est disponible ici [w3 schools](https://www.w3schools.com/mysql/trymysql.asp?filename=trysql_editor) :
- la base comporte 8 tables,
- le site vous propose un éditeur MySQL intégré.  

  
  
**Consignes :**
- Faites une copie de ce notebook et modifiez-le librement.
- Formulez les requêtes dans l'éditeur MySQL de W3 Schools et collez votre instruction ici dans le notebook.
- En fin de challenge, partagez votre travail sur Simplonline (veuillez vous assurer que les accès à votre document sont autorisés à des tiers).

#1.Compréhension de la base de données et des tables

## Question 1
Compléter ce tableau concernant les clés primaires et étrangères des tables de la base de données.

| Table        | Clé primaire  | Clé(s) étrangère(s) |
| ------------ | ------------- | ------------- |
| Customers    | CustomerID    | None         |
| Categories   | ...    | ...         |
| Employees    | ...    | ...         |
| OrderDetails | OrderDetailID | OrderID, ProductID |
| Orders       | ...       | ... |
| Products     | ...     | ... |
| Shippers     | ...     | ...         |
| Suppliers    | ...    | ...         |

#2.Requêtes simples

## Question 2
Sélectionner les colonnes `ProductName` et `Price` de la table `Products`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 3
Quels sont les différents pays représentés dans la table `Suppliers` ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 4
Sélectionner les fournisseurs dont le pays est la France.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 5
Sélectionner les produits dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 6
Sélectionner les fournisseurs dont le pays n’est pas la France.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 7
Sélectionner les employés dont le prénom est Janet ou Michael.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 8
Sélectionner la table des produits ordonnée par prix croissant.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 9
Sélectionner les 3 produits les moins chers.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#3.Requêtes avec agrégation

## Question 10
Calculer le nombre de fournisseurs par pays.  
Ordonner la table par nombre de fournisseurs décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 11
Donner le prix moyen des produits en fonction de leur CategorieID.  
Ordonner la table prix moyen décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 12
Calculer le nombre de clients par pays.  
Ordonner la table par nombre de clients décroissants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 13
Quels sont les pays qui disposent d'au moins 3 fournisseurs différents ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 14
Quels sont les `ProductID` dont la quantité vendue dépasse ou égale les 1000 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#4.Gestion des chaînes de caractères

## Question 15
Reconstituer l'adresse postale des fournisseurs.  
Pour chaque nom de fournisseur restituer l'adresse postale au format donné dans l'example suivant :

| SupplierName        | Adresse_postale  |
| ------------------- | ------------- |
| Exotic Liquid       | 49 Gilbert St. - EC1 4SD - Londona - UK    |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 16
Extraire les clients dont le champ `CustomerName` commence par `An`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 17
Extraire les produits dont l'unité de conditionnement est exprimée en `box` ou en `boxes`.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#5.Gestion des dates

## Question 18
Extraire les années de naissance des employés.  
Pour chaque nom et prénom des employés restituer l'année de naissance, au format donné dans l'example suivant :

| LastName     | FirstName  | Annee_naissance  |
| -------------| -----------| -----------------|
| Fuller       | Andrew     | 1952             |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 19
Restituer une table qui délivre les volumes de commandes par année.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 20
Restituer une table qui délivre les 3 mois pour lesquels les volumes de commandes sont les plus importants.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#6.Jointures

## Question 21
Sélectionner les produits et leur catégorie (`CategoryName`) dont le prix de vente est supérieur ou égal à 20€.

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 22
Quel est le prix moyen par catégorie (`CategoryName`) de produit ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 23
Quels sont les produits (`ProductName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 24
Quels sont les produits (`ProductName`) et leur catégorie (`CategoryName`) dont la quantité vendue est comprise entre 1200 et 1600 unités ?

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 25
Quelles sont les quantités vendues réparties par employé et par catégorie de produits ?  

La table doit avoir une structure comme dans l'example suivant :  

| CategoryName     | Employee  | Qte_totale  |
| -------------| -----------| -----------------|
| Beverages       | Davolio Nancy     | 1607             |

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#7.Requêtes avancées
Dans cette section vous serez amené à utiliser les requêtes imbriquées.

## Question 26
Quel est le client (`CustomerName`et `ContactName`) qui a établi la dernière commande ?  
*Note : La valeur de `OrderID` vous donne l'ordre chronologique des commandes.*

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 27
Quels sont le client (`CustomerName`et `ContactName`) et l'employé concernés (`FirstName`et `LastName`) par la dernière commande ?  
La table doit avoir une structure comme dans l'example suivant :  

| OrderID	| OrderDate	| CustomerName | 	ContactName	| FirstName	| LastName|
| --| --| --| --| --| --|
| 11077	| 1998-05-06	| Rattlesnake Canyon Grocery	| Paula Wilson	| Nancy	| Davolio|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 28
Calculer le nombre de commandes livrées par livreur (`ShipperName`) ainsi le pourcentage du total de commandes.  
Ordonner la table par ordre decroissant du nombre de commandes.  
La table doit avoir une structure comme dans l'example suivant :  

| ShipperName	| Nb_commandes	| Part_commandes |
| --| --| --|
| United Package	| 326	| 39.3 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 29
Calculer la quantité d'articles par fournisseur (`SupplierName`) ainsi le pourcentage du total.  
Ordonner la table par ordre decroissant du nombre d'articles.  
La table doit avoir une structure comme dans l'example suivant :  

| SupplierName	| Nb_articles	| Part_commandes |
| --| --| --|
| Plutzer Lebensmittelgroßmärkte AG	| 4072	| 7.9 %	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

## Question 30
A partir de la table `OrderDetails`, créer une colonne `QuantityText` qui prendra les valeurs suivantes :
- `"The quantity is under 30"` si `Quantity` < 30
- `"The quantity is 30"` si `Quantity` = 30
- `"The quantity is greater than 30"` si `Quantity` > 30

Ensuite comptabilliser le nombre de fois où les 3 catégories apparraisent et ordonner la table par ordre decroissant de ce comptage.  
La table doit avoir une structure comme dans l'example suivant :  

| QuantityText	| Nb_commandes	|
| --| --|
| The quantity is under 30	| 1464	|

In [ ]:
%%sql
-------------------------------------------------------------------

# Votre instruction SQL ci-dessous :

#8.Fin du challenge
Bravo ! Vous êtes arrivés sans peine jusqu'à la fin de ce challenge SQL ✌ !